body {
    color: #2f1561;
    background-color: #fffffa;
    font-size: 16px;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #886eff;
}

.main {
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5vh;
    font-size: 1.2rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    padding-top: 7vh;
    margin: 5vh;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.maintext {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 3vh;
}

.subtext {
    font-size: 1.3rem;
    margin-left: 10vw;
    margin-right: 10vw;
}

.pages {
    position: fixed;
    text-align: right;
    top: 0;
    right: 0;
    margin: 2.5vh 5vh;
    font-size: 1.3rem;
}

.heart {
    position: fixed;
    display: block;
}

/*
@media (max-width: 480px) {
    .maintext {
        font-size: 1.5rem;
        margin: 6vh;
    }
    .logo {
        font-size: 1rem;
    }
    .email {
        font-size: 1rem;
        margin: 6vh;
    }
    .social {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .maintext {
        font-size: 2.2rem;
        margin: 6.5vh;
    }
    .logo {
        font-size: 1.5rem;
        margin: 5vh;
    }
    .email {
        font-size: 1.5rem;
        margin: 6.7vh;
    }
    .social {
        width: 30px;
        height: 30px;
    }
}

/*
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px) {

}
*/